name: Codespell

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  codespell:
    name: Check spelling
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Check spelling
        uses: codespell-project/actions-codespell@v2
        with:
          check_filenames: true
          check_hidden: true
          skip: './.git,pnpm-lock.yaml,./app/locales/fr'
